@import "../../style/colors.scss";
@import "../../style/mediaquery.scss";
@import "../../style/fonts.scss";

.skills {
  background-color: $background-color2;

  .wrapper {
    display: flex;
    flex-direction: column;
  }

  &__list {
    color: $text-color;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
  }

  &__skill {
    max-width: 30.33%;
    text-align: center;
    margin: 0 60px 30px 60px;
    position: relative;
  }

  &__overlay {
    display: none !important;
    width: 200px;
    height: 200px;
    position: absolute;
    background-color: rgba(20, 20, 20, 0.952);
    pointer-events: none;
    font-weight: bold;
    font-size: 24px;
    border-radius: 20px;

    @include for-phone-only {
      max-width: 150px;
      max-height: 150px;
    }
  }

  &__image {
    max-height: 200px;
    max-width: 200px;

    @include for-phone-only {
      max-width: 150px;
      max-height: 150px;
    }

    &:hover {
      border-radius: 20px;
      opacity: 0.5;

      & + .skills__overlay {
        display: flex !important;
      }
    }
  }
}
